@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: Helvetica, sans-serif;
  padding: 5%;
  text-align: center;
  background-color: #0d1b2b;
  overflow-x: hidden;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.slider-wrapper div {
  position: relative;
}
.slider-wrapper {
  margin-top: 5vw;
  margin-left: 11vw;
}

.slide-image {
  height: 24vw;
}
.slide-image img {
  width: 24vw;
  cursor: pointer;
}

.slide-content {
  width: 25vw;
  color: #fff;
  padding: 3vw 18vw 3vw 9vw;
}
.slide-date {
  color: #0a8acb;
  font-size: 1.1vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  padding-bottom: 1.4vw;
}
.slide-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1vw;
  line-height: 1.55vw;
  padding-bottom: 1.8vw;
  font-family: "Nunito";
}
.slide-text {
  font-size: 20px;
  line-height: 1.7vw;
  opacity: 0.8;
  padding-bottom: 4vw;
  font-family: "Nunito";
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slider-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 950px;
  color: #fff;
}

.slide:nth-child(2) {
  background: #36bf66;
}

.slide:nth-child(3) {
  display: -webkit-inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  width: 1000px;
  margin-left: 600px;
}

.slide:nth-child(4) {
  background: #d9d055;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -728px;
  }
  50% {
    margin-left: -728px;
  }
  60% {
    margin-left: -1456px;
  }
  70% {
    margin-left: -1456px;
  }
  80% {
    margin-left: -2184px;
  }
  90% {
    margin-left: -2184px;
  }
}
